---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <!-- Footer -->
    <div class="page__footer">
      <footer>
        <p style="text-align: center; color: #777;">© {{ site.time | date: '%Y' }} Colin Adams. All Rights Reserved.</p>
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
